.demo {
    background-color: rebeccapurple;

    .container {
        background-color: lawngreen;
    }
}

@media (orientation: portrait) and (max-width: 640px) {
    body,html {
        background-color: pink;
    }
}